table{
	border: 1px solid #ddd;
	width: 50%;
    max-width: 100%;
    margin-bottom: 20px;
    text-align: left;
}
ul, li{
	list-style: none;

}

.page-link{
	float: left;
	border: 1px solid #000;
	width: 70px;
	text-align: center;
}